*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}



.clr-1{
color:#575757;
}
.btn-primary{
    background-color:#1D4ED8;
    color: white;
    padding: .8rem 2rem;
    font-size:18px;
    border: 0px;
    border-radius: 8px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
   
}

.menu ul{
 display: flex;
 justify-content: space-between;
 gap: 3rem;
 margin-top: 1rem;;
}

.menu ul li{
   list-style: none;
}



.menu ul li a{
   color:#575757;
}

.menu ul li a:hover{
    color:#333333
}


.nav-container{

    padding: 1rem 10rem;
    background-color: white;
}


.header-container{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("./assets/banner.jpg") ;
    background-repeat: no-repeat;
    height: 85vh;
    background-position: center;
    background-size: cover;
}
.hero-text{
    color:white;
    text-align: center;
    padding: 21vh;
}

.hero-text h2{
    font-size: 5rem;
}
.hero-text p{
    font-size: 1.2rem;
}

.hero-button{
    text-align: center;
    margin-top:-2vh;
}

.speakers{
    margin: 0 auto;
    width: 85%;
    
}

.speakers h2{
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.specker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2vw;
}

.box{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.box .img-box{
    padding: 25px;
}

.box .img-box h4{
    font-size:25px;
    padding: 8px 0;
}

.box .toptext{
    font-size: 12px;
    color: #1D4ED8;
}

.pricing{
    margin: 0 auto;
    width: 85%;
    padding: 15vh 0;
  
}

.ptext {
      text-align: center;
      padding: 7vh 0;
}

.ptext h2{
    font-size: 3rem;
}
.ptext p{
    padding-top:1vh ;
    font-size: 1rem;
    color: #575757;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    
}
.pricing-container .pricing-box{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding:3vw ;
}

.pricing-container .price h3{
    font-size: 2.1vw;
    font-weight: bold;
    padding: 1.3vh 0;
}

.pricing-container .price p{
    color:#575757;
}

.pricing-container hr{
    background: #E5E7EB;
    margin: 2vh 0;
    height: 1px;
    border: 0;
}

.pmenu{
    margin-left:1vw ;
}

.pmenu li{
    line-height: 1.7rem;
    color:#575757;
}

.p-btn{
    text-align: center;
    margin-top: 2vh;
}

.p-btn button{
    background-color: white;
    color:#2563EB;
    width: 100%;
    padding: 1.5vh 0;
    font-size: 14px;
    border: 2px solid #2563EB;
    border-radius: 5px;
    
}